@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: monsterrat;
}

.navbar{
    font-family: monsterrat;
    background-color: white;
}

.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
}

.nav-contact-btn{
    border: 0;
    color: white;
    background-color: #1a1b1f;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-middle-text a{
    font-size: 12px;
    color: #00000060;
    font-weight: 500;
    margin-left: 20px;
}

.carousel-inner .carousel-item .carousel-caption{
    background-color: #00000060;
}

.about-contents{
    margin-top: 50px;
}

.row .text{
    font-size: 1.25rem;
}

.who-we-are{
    margin-top: 50px;
    width: 100%;
}

.who-we-are>.col-lg-7{
    flex-wrap: wrap;
}

.who-we-are>.col-lg-7>.person{
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:992px) {
    .who-we-are>.col-lg-7>.person{
        margin: 20px auto;
    }
}

.footer-icon .icon{
    margin-top: 50px;
    background-color: #f7f7f7;

}

.footer-icon ul{
    justify-content: center;
    list-style: none;
}
.footer-icon ul li{
    margin: 25px 20px;
}
.footer-icon a i{
    font-size: 35px;
    text-align: center;
} 
.footer-icon a{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-content{
    text-align: center;
    font-family: monsterrat;
    margin: auto;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.footer-content ul li{
    justify-content: center;
}

.footer-content ul li a{
    text-decoration: none;
    color: #00000060;
    font-weight: 400;
    font-size: 14px;
}