@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.navbar{
    font-family: monsterrat;
    background-color: white;
}

.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
}

.nav-contact-btn{
    border: 0;
    color: white;
    background-color: #1a1b1f;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-middle-text a{
    font-size: 12px;
    color: #00000060;
    font-weight: 500;
    margin-left: 20px;
}

.carousel-inner .carousel-item .carousel-caption{
    background-color: #00000060;
}

.about-options{
    justify-content: center;
    background-color: #e4e4e4;
    
}
.about-options li a{
    text-decoration: none;
    font-family: monsterrat;
    font-weight: 600;
    font-size: 20px;
    color: #1a1b1f;
}
.about-options li{
    list-style: none;
    margin: 20px 40px ;
}

.about-options-content>div .card{
    border: 0;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 10px 10px;
    --bs-card-border-radius: none;
}

.about-options-content>div .card img{
    border-radius: 0 0 0 0;
}


.about-options-content>div .card h3{
    font-family: monsterrat;
    font-size: 18px;
    font-weight: 600;
}

.about-options-content>div .card p{
    font-family: monsterrat;
    font-size: 14px;
    margin-top: 20px;
}

.more-content{
    position: relative;
    width: 503px;
    height: 250px;
    margin-top: 20px;
}

.more-content img{
    position: absolute;
   
}

.more-content h5{
    position: absolute;
}

.footer-icon .icon{
    margin-top: 50px;
    background-color: #f7f7f7;

}

.footer-icon ul{
    justify-content: center;
    list-style: none;
}
.footer-icon ul li{
    margin: 25px 20px;
}
.footer-icon a i{
    font-size: 35px;
    text-align: center;
} 
.footer-icon a{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-content{
    text-align: center;
    font-family: monsterrat;
    margin: auto;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.footer-content ul li{
    justify-content: center;
}

.footer-content ul li a{
    text-decoration: none;
    color: #00000060;
    font-weight: 400;
    font-size: 14px;
}