@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes popup {
    0%{
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        transform: translate(-50%,-50%) scale(1.25);
    }
}

body{
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    font-family: monsterrat;
}

.popup{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    /* transition: top 0ms ease-in-out 200ms,opacity 200ms ease-in-out 0ms,transform 20ms ease-in-out 0ms; */
    animation: 0.5s ease-out 0.2s 1 popup;
    background-color: white;
    border: 1px solid black;
    padding: 50px 50px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0,15);
    width: 380px;
}

/* .popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1.25);
} */

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #888;
    color: #eee;
    border-radius: 15px;
    line-height: 15px;
    cursor: pointer;
}

.popup .form  h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}

.popup .form form button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}



