@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body{
    font-family: monsterrat;
    background-color: #f6f9fc;
}

.navbar{
    font-family: monsterrat;
    background-color: white;
    box-shadow: 1px 1px 6px #888888;
}

.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
}

.nav-contact-btn{
    border: 0;
    color: white;
    background-color: #1a1b1f;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-middle-text a{
   
    font-size: 12px;
    color: #00000060;
    font-weight: 500;
    margin-left: 20px;
}

.row .left-side{
    margin-right: 20px;
}

.row .left-side ul{
    list-style: none;
    padding-left: 0;
    display: flex;
}

.row .left-side ul li{
    
    margin-right: 20px;
}



.row .left-side ul li a img{
    width: 75px;
    height: 75px;

}

.row .left-side ul li a img:hover{
    border: 1px solid #1a1b1f;
    transition: 0.2s;
}

.row .left-side ul li a img:visited{
    border: 1px solid #1a1b1f;
    transition: 0.2s;
}

.row .left-side ul li a img:active{
    border: 1px solid #1a1b1f;
    transition: 0.2s;
}

.product-display{
    margin-top: 20px;
}

.product-display>.right-side{
    padding-top: 20px;
    
}

@media screen and (max-width:992px) {
    .product-display>.right-side{
        padding-bottom: 20px;
        margin-left: 0px;
    }
}

.product-display>.left-side,
.product-display>.right-side{
    background-color: #fff;
    border-radius: 6px;
}

.product-infor{
    text-decoration: none;
    width: 50px;
}   


.product-infor p span{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 10px;
}

.specification .right-side{
    margin-left: 25px;
}

.footer-icon .icon{
    margin-top: 50px;
    background-color: #fff;

}

.footer-icon ul{
    justify-content: center;
    list-style: none;
}
.footer-icon ul li{
    margin: 25px 20px;
}
.footer-icon a i{
    font-size: 35px;
    text-align: center;
} 
.footer-icon a{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-content{
    text-align: center;
    font-family: monsterrat;
    padding-bottom: 50px;
    background-color: #fff;
}

.footer-content ul li{
    justify-content: center;
}

.footer-content ul li a{
    text-decoration: none;
    color: #00000060;
    font-weight: 400;
    font-size: 14px;
}