@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.navbar{
    font-family: monsterrat;
    background-color: white;
}

.navbar-brand{
    font-weight: 600;
    text-transform: uppercase;
}

.nav-contact-btn{
    border: 0;
    color: white;
    background-color: #1a1b1f;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-middle-text a{
    font-size: 12px;
    color: #00000060;
    font-weight: 500;
    margin-left: 20px;
}

.body-hello>h1{
    font-family: monsterrat;
    font-weight: 400;
    background-color: #e4e4e4;
    padding: 50px 0;
}

.content-body{
    margin-top: 50px;
}

.content-body .content-block{
    margin-bottom: 50px;
    font-family: monsterrat;
}


.content-body .content-block a{
    text-decoration: none;
    color: #1a1b1f;
}

.content-body .content-block button{
    border-radius: 0;
    padding: 10px 20px;
}
@media screen and (min-width:992px){
    .content-body .content-block button{
        margin-top: 30px;
    }
}

.footer-icon .icon{
    margin-top: 50px;
    background-color: #f7f7f7;

}

.footer-icon ul{
    justify-content: center;
    list-style: none;
}
.footer-icon ul li{
    margin: 25px 20px;
}
.footer-icon a i{
    font-size: 35px;
    text-align: center;
} 
.footer-icon a{
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-content{
    text-align: center;
    font-family: monsterrat;
    margin: auto;
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.footer-content ul li{
    justify-content: center;
}

.footer-content ul li a{
    text-decoration: none;
    color: #00000060;
    font-weight: 400;
    font-size: 14px;
}

.more-help{
    font-family: monsterrat;
    margin: 100px 0;
}

.more-help button{
    padding: 10px 20px;
}
